#bodyVega{
    background-color: #E7F4EE;
}

/* VOLVER */
#volverInicio{
    list-style-type: none;

    a{
        font-family: "Inter", sans-serif;
        font-size: 0.8em;
        text-decoration: none;
        color: inherit;
    }
}

/* HEADER */
#divH1{
    width: 1520px;
    margin: 0 auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #1B5E20;
}

/* MAIN */
#mainVega{
    background-color: white;
    width: 1190px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(100, 100, 100, 0.2);
}

/* TABLA */
#tablaPuntuaciones{
    border-radius: 16px;
    border-collapse: collapse;
    font-family: "Inter", sans-serif;
    width: 1140px;

    tr:nth-child(odd){
        background-color: #CFF9CF;
    }

    td, th{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    th{
        background-color: #4CAF50;
        color: white;
    }

    th:first-child{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    th:last-child{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    td{
        color: #1B5E20;
    }

    td:last-child{
        font-weight: bold;
    }

    td:first-child, th:first-child{
        text-align: left;
        padding-left: 20px;
    }

    td:last-child, th:last-child{
        text-align: right;
        padding-right: 20px;
    }
}

@media(768px <= width <= 1024px){

    #divH1{
        width: 810px;
    }

    #mainVega{
        width: 633px;
        padding-right: 10px
    }

    #tablaPuntuaciones{
        width: 618px;
    }

}