/* GENERAL ------------------------------------------------ */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

contenedor-menu-zonas {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 193, 128);
    text-align: center;
}

/* ENCABEZADO -------------------------------------------- */
#encabezado {
    width: 100%;
    height: 8%;
    background: white;
    padding: 0.5%;
    border-bottom: 0.2% solid #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#titulo-encabezado {
    font-size: 30px;
    font-weight: bold;
}

/* MENÚ --------------------------------------------------- */
#menu-navegacion {
    display: flex;
    gap: 8%;
    margin-right: 5%;
}

#menu-navegacion a {
    color: black;
    text-decoration: none;
    font-size: 100%;
    transition: 0.3s;
}

#menu-navegacion a:hover {
    transform: scale(1.1);
}

#seleccion {
    width: 150px;
    font-size: 100%;
    border-radius: 10%;
    border: 0.4% solid #000;
    cursor: pointer;
}

/* CONTENIDO PRINCIPAL ----------------------------------- */
#contenido-principal {
    width: 100%;
    height: 80%;
    padding-top: 1%;
}

#logo {
    width: 12%;
    height: auto;
    margin-bottom: 1%;
}

/* BOTÓN ¿CÓMO JUGAR? ----------------------------------- */
#boton-como-jugar {
    width: 15%;
    height: 6%;
    background: white;
    border-radius: 8px;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    transition: transform 0.25s;
}

#boton-como-jugar:hover {
    transform: scale(1.05);
}


/* TARJETAS ---------------------------------------------- */
#contenedor-tarjetas {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 2%;
}

.tarjeta {
    width: 10%;
    height: 40%;
    background: white;
    padding: 1.5%;
    border-radius: 6%;
    transition: 0.3s;
    cursor: pointer;
}

.tarjeta img {
    width: 85%;
    height: 55%;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.titulo-tarjeta {
    font-size: 100%;
    font-weight: bold;
}

/* FOOTER ------------------------------------------------- */
footer {
    width: 100%;
    height: 8%;
    background-color: rgb(62, 62, 62);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}