:root{
    --verdeTierra:#4CAF50;
    --verdeClaro:#81C784;
    --azulOceano:#2196F3;
    --azulClaro:#64B5F6;
    --amarilloDesieto:#FFEB3B;
    --naranjaDesierto:#FB8C00;
    --grisCiudad:#424242;
    --grisClaro:#9E9E9E;
}

body{
    background-color: #1F2937;
    margin: 0 auto;
}

body{
    
    li{
        color:white
    }
}
a{
    text-decoration: none;
}
/* HEADER */
.enlace-volver-atras{
    color: white;
    font-size: 30px;
}
.barra-superior-admin {
    width: 100%;
    height: auto;
    background-color: #2e3546;
    display: flex;
    align-items: center;
    padding: 1% 3%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.barra-superior-admin {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex; 
        align-items: center;
        box-sizing: border-box;
    }

    li {
        display: inline-block;
    }

}

.perfil-admin {
    background-color: #ff9900;
    color: white;
    padding: 0.6% 1.5%;
    border-radius: 4px;
    font-size: 85%;
    font-weight: bold;
    display: inline-block;
}


/**************************** MAIN **********************************************/
.mainEstrecho{
    background-color: white;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(100, 100, 100, 0.2);
    width: 40%;
}


/*************************** MAIN TABLA LISTAS  **********************/

.titulo{
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.contenedor-tabla {  
    background-color: #ffffff;
    color: #000;    
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
    display: block;
    text-align: center;
}
.contenedor-tabla {  

    /* TABLA */
    .tabla {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
    }

    .tabla th {
        background-color: #ff8f00;
        padding: 12px;
        font-size: 18px;
        color: #fff;
    }

    .tabla td {
        padding: 12px;
        border-bottom: 1px solid #eee;
    }

    .tabla tr:nth-child(odd){
        background-color: #fff4a99e;
    }

    /* BOTONES */
    .btn-eliminar, .btn-modificar {
        padding: 8px 15px;
        font-size: 14px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        color: white;
    }

    .btn-eliminar {
        background-color: #ff3b3b;
    }

    .btn-eliminar:hover {
        background-color: #d92e2e;
    }

    .btn-modificar {
        background-color: #3b82f6;
    }

    .btn-modificar:hover {
        background-color: #2563eb;
    }

    /* BOTÓN CREAR */
    .contenedor-crear {
        background-color: #ff8f00;
        width: 100%;
        padding: 15px 0;
        margin-top: 20px;
        border-radius: 12px;
    }

    .btn-crear {
        background-color: #ececec;
        padding: 10px 25px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        
    }

    .btn-crear:hover {
        background-color: #d6d6d6;
    }


}

/* FORMULARIO */

.formulario{
    font-family: "Nunito";
    width: 95%;
}
.formulario{

    h1{
        text-align: center;
    }

    label, input, select{
        display: block;
        margin: 10px;
        font-family: "Nunito";
    }

    input{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
    }

    input[type="password"], input[type="email"], input[type="text"],input[type="number"]{
        border: 3px solid;
        border-color: #E5E7EB;
        background-color: #F9FAFB;
    }

    select{
        width: 104%;
        padding: 10px;
        border-radius: 10px;
        border: 3px solid;
        border-color: #E5E7EB;
        background-color: #F9FAFB;
    }

    .seccionBotones{
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        width: 107%;
    }

    #modificar{
        background-color: #2E8B57;
        color: white;
        margin-top: 20px;
        font-size: 1.2em;
    }

    #cancelar{
        display: block;
        margin: 10px;
        font-family: "Nunito";
        background-color: #41404093;
        color: white;
        margin-top: 20px;
        font-size: 1.2em;
        width: 100%;
        padding: 10px;
        border-radius: 10px;

        a{
            text-decoration: none;
            color: white;
        }
    }

    #eliminar{
        background-color: #ff0000;
        color: white;
        margin-top: 20px;
        font-size: 1.2em;
    }

    #acceder{
        background-color: var(--naranjaDesierto);
        color: white;
        width: 40%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 1.2em;
    }

    #modificarContrasena{
        list-style-type: none;

        a{
            font-family: "Inter", sans-serif;
            font-size: 0.8em;
        }
    }

    #alerta{
        color: red;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

.imagen-aviso-admin {
    width: 18%;
    height: auto;
    margin: 0 auto 4% auto;
    display: block;
}

@media (768px <= width <= 1024px) {
    .mainEstrecho{
        width: 75%;
    }

    .formulario{

        input, select{
            margin-right: 20px;
        }

    }
}

/*--------------------------------Pantalla de Dashboard Admin-------------------------------*/

/* Estilos Reutilizados de Pantalla de Login Admin:
 * - .contenedor-principal-admin (Fondo, centrado y posición)
 * - .barra-superior-admin (Diseño de barra de navegación)
 * - .perfil-admin (Estilo de etiqueta 'ADMIN')
*/

.contenido-dashboard {
    text-align: center;
    padding-top: 6%;
}

.texto-principal {
    font-size: 36px; 
    color: #c95195;
    margin-bottom: 6%;
    font-weight: bold;
}

/* Recargar dashboard */
.titulo-dashboard {
    color: white;
    font-size: 18px; 
    font-weight: bold;
    margin: 0 auto; 
}

/*quitar estilo de enlace*/
.titulo-dashboard a {
    color: white;
    text-decoration: none;
}

/* Contenedor de las 4 opciones */
.contenedor-opciones-admin {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}
/*quitar estilo de enlace*/
.contenedor-opciones-admin a {
    text-decoration: none;
    color: black;
}
/* Tarjeta individual de gestión */
.tarjeta-opcion-admin {
    width: 8%;
    padding: 3%;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2% 5% rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: transform 300ms ease, box-shadow 300ms ease;
    margin: 0 2% 4% 2%;
}

.tarjeta-opcion-admin:hover {
    transform: translateY(-3%);
    box-shadow: 0 4% 8% rgba(0, 0, 0, 0.3);
}

/* imágenes dentro de los iconos  */
.imagen-opcion {
    width: 50%; 
    border-radius: 50%;
    margin-bottom: 10%;
}
.descripcion-opcion {
    font-size: 20px; 
    color: #666;
    margin: 0;
}
